{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [ "react", "prettier" ],
  "rules": {
    "prettier/prettier": "error",
    "prefer-const": "warn",
    "no-console": "off",
    "no-loop-func": "warn",
    "new-cap": "off",
    "no-param-reassign": "warn",
    "func-names": "off",
    "no-unused-expressions" : "error",
    "block-scoped-var": "error",
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.2"
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "overrides": [
    {
      "files": "*.spec.js",
      "rules": {
        "no-unused-expressions": "off"
      },
      "globals": {
        "shallow": true,
        "mount": true,
        "render": true,
        "expect": true
      }
    }
  ]
}
